<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Team Input</title>
</head>
<body>
    <h1>Team Input</h1>
    <form id="teamForm">
        <div class="main-container">
            <label for="teamName">Team Name:</label>
            <input type="text" id="teamName" placeholder="Enter Team Name" required>
            <label for="teamNumber">Team Number:</label>
            <input type="number" id="teamNumber" placeholder="Enter Team Number" required>
            <button type="submit">Submit</button>
        </div>

    </form>

    <!-- Include Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io();

        // Function to handle form submission
        document.getElementById('teamForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting traditionally
            var teamName = document.getElementById('teamName').value;
            var teamNumber = document.getElementById('teamNumber').value;
            if (teamName.trim() !== '' && teamNumber.trim() !== '') { // Check if both fields are not empty
                socket.emit('new_team', { teamName: teamName, teamNumber: teamNumber }); // Send team data to server
                document.getElementById('teamName').value = ''; // Clear input fields
                document.getElementById('teamNumber').value = '';
            } else {
                alert('Please enter both team name and number.'); // Show an alert if any field is empty
            }
        });
    </script>
</body>
</html>
